.root {
  // 单行省略样式
  display: inline-grid;
  >div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //display: -webkit-box;
    //-webkit-line-clamp: 1;
    //-webkit-box-orient: vertical;
  }
}

:global {
  .ellipsis-tooltip-hidden {
    display: none;
  }
}
